#include "mensajes.inc"

STRINGTABLE
BEGIN
  msgNumeroVariables "No se ha especificado un número válido de variables"
  msgValoresIncorrectos "Valores Incorrectos"
  msgSCGuardado "Sistema combinacional guardado"
  msgExpErronea "Expresión erronea"
  msgErrorParen  "Error de parentesis"
  msgExprConfusa  "La expresión es confusa delimite con parentesis"
  msgEntradaExced  "Numero de variables de entrada excedido"
  msgRecordatorioVariasVars  "Recuerde que debe introducir una ecuacion correcta por cada variable de salidan\n(utilice la barra de scroll de la izquierda para conmutar entre variables de salida)"
  msgCorrectoYMinimo "CORRECTO, EL SISTEMA COINCIDE Y ES MINIMO"
  msgCorrectoNoMinimo "EL SISTEMA COINCIDE PERO NO ES MINIMO"
  msgNoIdenticos "LOS SISTEMAS COMBINACIONALES NO SON IDENTICOS"
  msgExprErronea "SE HA INTRODUCIDO UN TIPO DE EXPRESION ERRONEA"
  msgAyudaAprenderPOS "Para introducir una combinación se han de introducir las letras que representan las variables separadas por signos y parentesis usando el guión '-' como simbolo de negación, y aunque no es necesario que aparezcan todas deben escribirse en orden ascendente.	Ej: (a+-c+d)*(-a+b)"
  msgAyudaAprenderSOP "Para introducir una combinación se han de introducir las letras que representan las variables separadas por signos y parentesis usando el guión '-' como simbolo de negación, y aunque no es necesario que aparezcan todas deben escribirse en orden ascendente.	Ej: (a*-c*d)+(-a*b)"
  msgNoGuardadoFuncError  "No se han guardado las funciones con errores. Tenga en cuenta que el evaluador es sensible a minusculas y mayusculas."
  msgErrorEnFuncion "Error en función"
  msgVariableNoExiste "Has introducido una variable que no existe"
  msgAyudaExprBool "Se puede introducir cualquier expresión booleana bien formada.\n\rSe permite el uso de los operadores + (OR), * (AND), ^ (XOR) y - (NOT), y de paréntesis.\n\rSe deben utilizar los nombres de las variables de la función creada en la pantalla principal."
  msgCaracterNoValido "Caracteres introducidos no validos"
  msgNoTantasVariables "Numero fuera de rango, no hay tantas variables"
  msgCaracterDosPuntos "Hay un caracter ':' no valido"
  msgRangoErroneo "Un rango x:y es erroneo"
  msgSobreescribeConX "Se esta sobreescribiendo un valor con una X"
  msgSCGuardadoFichero "Sistema combinacional almacenado en fichero"
  msgSCTodaviaNoCreado "El sistema combinacional no ha sido creado todavia"
  msgNumVarsIncorrecto "Numero incorrecto de variables"
  msgErrorCargar "Imposible Cargar Fichero"
  msgSCCargadoFichero "Sistema combinacional cargado desde fichero"
  msgOpcion3a6Vars "Tan solo se puede usar esta opción con 3 a 6 variables de entrada"
  msgReductio "El entorno avanzado de simplificación opera independientemente de BOOLE-DEUSTO.\n\rEs decir, una función introducida en dicho entorno no aparecerá luego en BOOLE-DEUSTO."
  msgErrorTabla "Por favor rellene todas las filas de la tabla."
  msgDatosNoRellenados "Hay datos no rellenados"
  msgNoMasEntradas "No se pueden meter más entradas"
  msgSobreescribeFuncion "Estas sobrescribiendo una función"
  msgYaExisteNoVerCompacta "El sistema ya existe, no hace falta verlo en su forma compacta"
  msgCircuitoNand "Circuito NAND"
  msgCircuitoNor "Circuito NOR"
  msgNombreCircuito "No ha puesto ningún nombre al sistema"
  msgExpresionPOS "Expresión POS"
  msgExpresionSOP "Expresión SOP"
  msgNuevaEcBooleana "\nEl sistema ya existe.\nSi introduce una nueva ecuación booleana el sistema se borrará.\n¿Desea continuar?"
  msgFormaDisyun "Forma normal disyuntiva"
  msgFormaConjun "Forma normal conjuntiva"
  msgExprSOPSimpl "Expresión SOP simplificada"
  msgExprPOSSimpl "Expresión POS simplificada"
  msgExprsSOPSimpl "Expresiónes SOP simplificadas"
  msgExprsPOSSimpl "Expresiónes POS simplificadas"
  msgNombreSC "Nombre del Sistema Combinacional"
  msgVarsEntrada "Variables de Entrada"
  msgVarsSalida "Variables de Salida"
  msgFiltroPLD "Fichero Hardware|*.pld|Todos los archivos|*.*"
  msgFiltroVHDL "Fichero VHDL|*.vhd|Todos los archivos|*.*"
  msgFiltroJEDEC "Fichero JEDEC|*.jed|Todos los archivos|*.*"
  msgTablaVerdad "Tabla de Verdad"
  msgDiagramasVK "Diagramas de Veitch-Karnaugh"
  msgFormasNormales "Formas Normales"
  msgTerminosIrrelevantes "Términos Irrelevantes"
  msgSistemaCombi "Sistema Combinacional"
  msgVisuCircuitos "Visualizador de Circuitos"
  msgAvisoAutIncEspNoMinimo "NOTA: La simplificación de este automata incompletamente especificado no es minima."
  msgLogSimu "Log de Simulación"
  msgPaso "Paso"
  msgSinTitulo "Sin Titulo"
  msgReanudar "Reanudar"
  msgPararYReiniciar "Parar y Reiniciar"
  msgErrorAplicarEntrada "No puede aplicarse esa entrada ya que el estado actual no tiene ninguna transición que la acepte."
  msgErrorAplicarEntrada1 "Imposible aplicar la entrada"
  msgErrorAplicarEntrada2 "en el estado"
  msgIniciarSimu "Iniciar Simulación"
  msgBorrarTabla "Borrar Tabla"
  msgAyudaBatch "La simulación batch le permite especificar una simulación completa y ejecutarla entera\n\ro paso a paso. Para crear una simulación batch haga lo siguiente:\n\r1. Fije el numero de filas utilizando el campo 'Numero de Filas'.\n\rTenga en cuenta que una simulación siempre empieza por un RESET.\n\r2. En la simulación normal, simplemente tendrá que indicar las entradas\n\rdel automata en cada momento. En cada paso se produce siempre un CLK.\n\rPara indicar la entrada en un paso de la simulación, haga click sobre la/s\n\rcolumna/s de la/s entrada/s para alternar entre un 1 o un 0 en dicha entrada.\n\r3. En la simulación avanzada, podrá especificar dónde exactamente se\n\rproducen los CLKs y los RESETs. Para ello, simplemente haga click sobre\n\rla columna CLK o RESET de la fila donde desea insertar el clock o el reset.\n\r"
  msgAyudaBatch2 "4. Si en algún momento ve que necesita insertar o eliminar una fila, puede\n\rhacer click con el boton derecho sobre cualquier fila. Se le mostrará un\n\rmenú que le permitirá insertar una fila después de la seleccionada o\n\reliminar la fila seleccionada.\n\r5. Una vez configurada la simulación, pulse el boton Iniciar para comenzar.\n\rPuede realizar la simulación paso a paso pulsando el boton Siguiente\n\ro procesar todas las filas de golpe pulsando el boton Proceso Rapido.\n\rTambien puede pausar o parar la simulación en cualquier momento."
  msgPrefijoEntrada "E"
  msgPrefijoSalida "S"
  msgColocarFlecha "Debe colocar la flecha con un click de raton"
  msgCrearNuevo "¿Desea crear uno nuevo sin grabar los ultimos cambios?"
  msgAbrirNuevo "¿Desea abrir uno nuevo sin grabar los ultimos cambios?"
  msgSalida "Salida"
  msgObtenerMoore "Obtener Moore Equivalente"
  msgObtenerMealy "Obtener Mealy Equivalente"
  msgSalirSinGrabar "¿Desea salir sin grabar los ultimos cambios?"
  msgCodigoPLD "Código PLD"
  msgFicheroAut "Fichero de Autómata"
  msgAutomata "Autómata"
  msgResultadosMoore "RESULTADOS DEL AUTÓMATA DE MOORE"
  msgResultadosMealy "RESULTADOS DEL AUTÓMATA DE MEALY"
  msgTablaTranEstSal "Tabla de transicion de estados y salidas"
  msgTablaCodifEstados "Tabla de codificacion de estados"
  msgTablaCodifTransCodif "Tabla de codificacion de estados y tabla de transición de estados y salidas codificadas"
  msgTablaExcitacion "Tabla de excitacion de biestables"
  msgExprSimplificadas "Expresiones simplificadas"
  msgMaximalesCompat "Nodos Finales (Maximales Compatibles)"
  msgMaximalesIncompat "Maximales Incompatibles"
  msgNodosFinales "Nodos Finales"
  msgParticionEquiv "Partición de Equivalencia"
  msgCreamosTabla "Creamos la tabla de implicación"
  msgMaximalesCompatIncompat "Maximales Compatibles e Incompatibles"
  msgParticionSalida "Partición de salida"
  msgParesImpl "Pares implicados"
  msgTablaTerminada "Tabla terminada"
  msgNoPuedeClkNoEntrada  "No se puede enviar una señal de reloj. No se está aplicando ninguna entrada."
  msgNoPuedeClkNoTrans "No se puede enviar una señal de reloj. La entrada aplicada no activa ninguna transición."
  msgResultados "Resultados"
  msgVisuCircuitoAyudaSecu "El visualizador de circuitos secuenciales muestra una unica salida a la vez.\n\rPara ver otras salidas, haga click en la fila correspondiente de la lista de la derecha."
  msgVisuCircuitoAyuda "El visualizador de circuitos permite introducir unicamente sumas de productos y productos de sumas."
  msgVisuCircuitoAyudaSOP "En una expresion SOP, los productos deben ir entre parentesis. P.ej.:"
  msgVisuCircuitoAyudaPOS "En una expresion POS, las sumas deben ir entre parentesis. P.ej.:"
  msgVisuCircuitoAyudaNegacion "Las negaciones se realizan anteponiendo un guión a las variables. P.ej.:"
  msgSi "Si"
  msgNo "No"
  msgVisuCircuitoIntroduce "Introduce una nueva ecuación y pulsa visualizar para ver el circuito"
  msgVisuCircuitoParentesis "La ecuación deberá tener los paréntesis correctamente colocados de lo contrario el circuito no se dibujará correctamente. Puedes representar la negación con el signo - (menos)."
  msgVisuCircuitoVisualizar "Pulsa visualizar para dibujar el circuito."
  msgVisuCircuitoVuelve "Vuelve a la pantalla anterior."
  msgVisuCircuitoImprimeVertical "Imprime el circuito en vertical ajustandolo al largo de la página."
  msgVisuCircuitoImprimeHorizontal "Imprime el circuito en horizontal ajustandolo al ancho de la página."
  msgVisuCircuitoCopia "Copia el circuito al portapapeles para importarlo a otro programa."
  msgVisuCircuitoAumenta "Aumenta el tamaño del circuito."
  msgVisuCircuitoDisminuye "Disminuye el tamaño del circuito."
  msgVisuCircuitoEcuSec "Ecuaciones del circuito secuencial. Si la ecuación no se ve completamente pulsa el ratón."
  msgVisuCircuitoErrorImprimir "Ha habido un problema con la impresora, posiblemente se deba a que:\n\n     1. el tamaño del circuito es mayor que el papel.\n     2. existen trabajos en la cola de impresora.\n\nSolución:\n\n     1. reiniciar el ordenador para eliminar los trabajos de la cola. \n     2. intentar imprimirlo con otras opciones.\n     3. imprimir un circuito más pequeño que el de la pantalla. \n\n ¿Imprimir un circuito más pequeño?"
  msgVisuCircuitoImprimir "Imprimir el circuito."
  msgTodos "Todos"
  msgGuardar "Guardar"
  msgAceptar "Aceptar"
  msgLazoNoValido "Lazo no valido"
  msgLazosInsuficientes1 "No has dibujado suficientes lazos.\n(los lazos deben cubrir todos los 1s)"
  msgLazosInsuficientes0 "No has dibujado suficientes lazos.\n(los lazos deben cubrir todos los 0s)"
  msgDemasiadosLazos "El mapa puede resolverse con menos lazos."
  msgAyudaDibuLazos1 "Para crear un lazo, primero haga click en cada cuadricula que formará"
  msgAyudaDibuLazos2 "parte del lazo utilizando el botón izquierdo del ratón."
  msgAyudaDibuLazos3 "Las cuadriculas seleccionadas se remarcarán en rojo. Para crear el"
  msgAyudaDibuLazos4 "lazo, pulse sobre el botón 'Crear Lazo' o el boton derecho del ratón."
  msgAyudaDibuLazos5 "Para eliminar un lazo, seleccione las cuadriculas del lazo (como si"
  msgAyudaDibuLazos6 "fuese a crear un nuevo lazo) y pulse el botón derecho del ratón."
  msgAyudaDibuLazos7 "Una vez creados todos los lazos, pulse 'Evaluar' para saber si la"
  msgAyudaDibuLazos8 "solución introducida es correcta."
  msgAutomataCorrectoDeterminista "El autómata es correcto y determinista."
  msgTituloCorrectoDeterminista "Correcto y determinista"
  msgError "ERROR"
  msgEstadoSinSalida1 "El estado '"
  msgEstadoSinSalida2 "' no tiene asignada una salida."
  msgTransicionSinSalida1 "La transicion que va de '"
  msgTransicionSinSalida2 "' a '"
  msgTransicionSinSalida3 "' no tiene asignada una salida."
  msgAutomataIndeterminista "Automata Indeterminista"
  msgDemasiadasTransiciones1 "Este automata es indeterminista.\nEl estado '"
  msgDemasiadasTransiciones2 "' tiene más de una transición que acepta la entrada '"
  msgDemasiadasTransiciones3 "'."
  msgDemasiadasTransiciones4 "\nEl error se ha detectado al comprobar la transicion que va de '"
  msgDemasiadasTransiciones5 "' a '"
  msgDemasiadasTransiciones6 "'."
  msgCorrecto "CORRECTO"
  msgAutomataCorrectoNoDeterminista "El automata es correcto pero no determinista."
  msgFaltaTransicion1 "El estado '"
  msgFaltaTransicion2 "' no tiene ninguna transicion que acepte la entrada '"
  msgFaltaTransicion3 "'."
END
